
@font-face {
    font-family: "DSDigi";
    src: url("../fonts/ds-digi.ttf") format("truetype");
}

#pager {
    width: 405px;
    height: 275px;
    background-image: url("../imgs/pager.png");
    background-size: cover;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: none;
}

#text {
    font-family: DSDigi, sans-serif;
    text-transform: uppercase;
    position: relative;
    width: 290px;
    height: 79px;
    top: 70px;
    left: 46px;
    z-index: 999;
    padding: 5px;
    font-size: 27px;
    word-wrap: break-word;
    overflow: hidden;
}