@font-face {
    font-family: Digital;
    src: url("../fonts/DigitalNormal.otf") format("opentype");
}

.tintmeter-ui {
    width: 30%;
    height: 80%;
    position: absolute;
    left: 35%;
    top: 15%;
    background-image: url("../imgs/tint-meter-interface.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
}

.tintmeter-text {
    font-family: Digital, serif;
    font-size: 9vh;
    position: relative;
    top: 26.5vh;
    left: 37%;
    width: 8.5vw;
    color: #000;
    opacity: 0.7;
    text-align: center;
}

.tintmeter-btn {
    width: 3vw;
    height: 6vh;
    top: 35.5%;
    position: relative;
    left: 47%;
    cursor: pointer;
}